@page "{id:int}"
@model RazorPagesApp.Pages.Students.EditModel
@{ ViewData["Title"] = "Ուսանողի տվյալնելի փոփոխում"; }
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">
</script>
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Student.Id" type="hidden" />
    <div>
        <label>Անուն</label>
        <div>
            <input asp-for="Student.Name" />
            <span asp-validation-for="Student.Name"></span>
        </div>
    </div>
    <div>
        <label>Ազգանուն</label>
        <div>
            <input asp-for="Student.Surname" />
            <span asp-validation-for="Student.Surname"></span>
        </div>
    </div>
    <div>
        <label>Տարիք</label>
        <div>
            <input asp-for="Student.Age" type="number" />
            <span asp-validation-for="Student.Age"></span>
        </div>
    </div>
    <br />
    <div>
        <input class="input" type="submit" value="Պահպանել" />
    </div>
</form>
<style>

    .input {
        background-color: lightgreen;
    }

    .validation-summary-errors {
        border: 2px solid red;
        color: red;
        font-weight: bold;
        margin: 6px;
        width: 30%;
    }

    .field-validation-error {
        color: red;
        font-weight: bold;
        background-color: yellow;
    }

    .input-validation-error {
        color: red;
        font-weight: bold;
        background-color: pink;
    }
</style>